<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucmed.mybatis.mapper.FooMapper">

    <resultMap id="BaseResultMap" type="com.ucmed.mybatis.model.Foo">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, name from foo
    </select>

</mapper>
